body {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #0095dd;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  padding: 5px;
  border: 1px solid #e5e5e5;
}

.level, .yes, .no {
  text-align: center;
}

.no {
  color: red;
}

.row:hover {
  background: #efefef;
}

thead, tbody {
  border-bottom: 2px solid;
}
